.header{
    display: flex;
    flex-direction: column;
}

h1{
    margin-left: 5px;
}

.buttons{
    display: flex;
    justify-content: space-around;
    width: 300px;
    background-color: beige;
}

.header-title{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: #257cee;
    background-color: aliceblue;

}