.hero{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 300px;
}

.hero>input{
    height: 35px;
}

.hero>h3{
    font-family: Arial, Helvetica, sans-serif;
}

.id{
    display: flex;
    margin-left: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.hero-name{
    font-family: Arial, Helvetica, sans-serif;
}